.comments {
  border: 5px solid var(--primary-border-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  gap: 8px;
}

.comment {

  padding-left: 8px;
  font-size: x-large;
  border-top: solid var(--primary-border-color);

}

.header {
  padding-left: 8px;
}